<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Presentations</h3>
    <h4 class="fw-bold border-bottom pb-3 mb-5"><small>2023</small></h4>
    <br> <!-- Add a line break here -->
    <p>
      <strong>Dian Darisma</strong>, Yusuke Mukuhira, Naoki Aoyogi, Kyosuke Okamoto, Takuya Ishibashi, Hirosi Asanuma, Takatoshi Ito.
      <i>Fracture mapping using microseismic data analysis at Okuaizu Geothermal Field</i>.
      Japan Geoscience Union Meeting, 2023.
    </p>
  </div>
</div>
