<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Presentations</h3>
    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2023</small></h4>
    <p>
      <strong>Dian Darisma</strong>, Yusuke Mukuhira, Naoki Aoyogi, Kyosuke Okamoto, Takuya Ishibashi, Hirosi Asanuma, Takatoshi Ito.
      <i>Fracture mapping using microseismic data analysis at Okuaizu Geothermal Field</i>.
      Japan Geoscience Union Meeting, 2023.
    </p>
    <p>
      <strong>Dian Darisma</strong>, Yusuke Mukuhira, Naoki Aoyogi, Kyosuke Okamoto, Takuya Ishibashi, Hirosi Asanuma, Takatoshi Ito.
      <i>Building the Fracture Network Model for Okuaizu Geothermal Field Based on Microseismic Data Analysis</i>.
      48th Stanford Geothermal Workshop, 2023.
      <a href="https://pangea.stanford.edu/ERE/db/GeoConf/papers/SGW/2023/Darisma.pdf">link</a>
    </p>
    
    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2021</small></h4>
    <p>
      Muhammad Haikal Gunarya, Saiyidinal Futhra, Roufiq Rachmadsyah Putra, <strong>Dian Darisma</strong>, Amsir Taib.
      <i>A Preliminary Study of Geothermal Potential in Alue Long Beungga Using Landsat-8 and Sentinel-2a Imagery</i>.
      ITB International Geothermal Workshop, 2021.
      <a href="https://www.researchgate.net/publication/366635444_A_Preliminary_Study_of_Geothermal_Potential_in_Alue_Long_Beungga_Using_Landsat-8_and_Sentinel-2a_Imagery">link</a>
    </p>
    <p>
      <strong>Dian Darisma</strong>, Lukmanul Hakim, Marwan.
      <i>Identification of coal layer using gravity method in Lam Apeng Aceh Besar</i>.
      The 10th Annual International Conference on Science and Engineering, 2021.
      <a href="https://doi.org/0.1088/1757-899X/1087/1/012071">https://doi.org/0.1088/1757-899X/1087/1/012071</a>
    </p>

    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2020</small></h4>
    <p>
      Irwandi Irwandi, <strong>Dian Darisma</strong>, AVH Simanjuntak, Hizir Sofyan, Asrillah.
      <i>Establishing a new gravity reference station for geophysical investigation and educational purposes: comparison with satellite gravity data in Banda Aceh city, Indonesia</i>.
      The 1st South East Asia Science, Technology, Engineering and Mathematics International Conference, 2020.
      <a href="">link</a>
    </p>
    <p>
      K Alfaiz, F Ayyasy, Y Assyifa, <strong>Dian Darisma</strong>.
      <i>Identification of Lignite as One of Usable Alternative Energy Using Difference Normalized Burn Ratio (dNBR) Calculated from Landsat-8 Data and Gravity Method in Lam Apeng Village, Aceh Besar District, Aceh Province</i>.
      3rd Asia Pacific Meeting on Near Surface Geoscience & Engineering, 2020.
      <a href="https://doi.org/10.3997/2214-4609.202071107">https://doi.org/10.3997/2214-4609.202071107</a>
    </p>

    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2019</small></h4>
    <p>
      <strong>Dian Darisma</strong>, Marwan.
      <i>One-dimensional magnetotelluric inversion using levenberg-marquardt and particle swarm optimization algorithm</i>.
      The 3rd International Conference on Natural and Environmental Sciences, 2019.
      <a href="https://doi.org/10.1088/1742-6596/1882/1/012137">https://doi.org/10.1088/1742-6596/1882/1/012137</a>
    </p>
    <p>
      Muzakir, Muhammad Yanis, <strong>Dian Darisma</strong>, Nazli Ismail.
      <i>The determination of depth anomaly in archaeo-magnetic using an Euler deconvolution: Case study in Kuta Lubok fortress</i>.
      The 3rd International Conference on Natural and Environmental Sciences, 2019.
      <a href="https://doi.org/10.1088/1755-1315/364/1/012034">https://doi.org/10.1088/1755-1315/364/1/012034</a>
    </p>
      <p>
      RA Surya, Faisal Abdullah, <strong>Dian Darisma</strong>, Muhammad Yanis, Nazli Ismail.
      <i>Sedimentation process in Kuala Gigieng Coast, Aceh Besar based on magnetic and gravity surveys</i>.
      2nd ICFAES 2019 International Conference on Fisheries, Aquatic and Environmental Sciences
      <a href="https://doi.org/10.1088/1755-1315/348/1/012040">https://doi.org/10.1088/1755-1315/348/1/012040</a>
    </p>

    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2017</small></h4>
    <p>
      <strong>Dian Darisma</strong>, Umar Said, Wahyu Srigutomo.
      <i>2D Gravity Inversion Using Particle Swarm Optimization Method</i>.
      23rd European Meeting of Environmental and Engineering Geophysics, 2017.
      <a href="https://doi.org/10.3997/2214-4609.201702117">https://doi.org/10.3997/2214-4609.201702117</a>
    </p>
  </div>
</div>
