<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Presentations</h3>
    <h4 class="fw-bold border-bottom pb-1 mb-2"><small>2023</small></h4>
    <p>
      <strong>Dian Darisma</strong>, Yusuke Mukuhira, Naoki Aoyogi, Kyosuke Okamoto, Takuya Ishibashi, Hirosi Asanuma, Takatoshi Ito.
      <i>Fracture mapping using microseismic data analysis at Okuaizu Geothermal Field</i>.
      Japan Geoscience Union Meeting, 2023.
    </p>
    <p>
      <strong>Dian Darisma</strong>, Yusuke Mukuhira, Naoki Aoyogi, Kyosuke Okamoto, Takuya Ishibashi, Hirosi Asanuma, Takatoshi Ito.
      <i>Building the Fracture Network Model for Okuaizu Geothermal Field Based on Microseismic Data Analysis</i>.
      48th Stanford Geothermal Workshop, 2023.
      <a href="https://pangea.stanford.edu/ERE/db/GeoConf/papers/SGW/2023/Darisma.pdf" style="color: blue;">link</a>
    </p>
    
    <h4 class="fw-bold border-bottom pb-1 mb-2"><small>2021</small></h4>
    <p>
      <strong>Dian Darisma</strong>, Lukmanul Hakim, Marwan.
      <i>Identification of coal layer using gravity method in Lam Apeng Aceh Besar</i>.
      The 10th Annual International Conference on Science and Engineering, 2021.
      <a href="https://iopscience.iop.org/article/10.1088/1757-899X/1087/1/012071/meta" style="color: blue;">link</a>
    </p>
  </div>
</div>
