<div class="row g-5 mb-5">
  <div>
    {% if page.title == "Home" %}
    <p>
      <strong> Lu X</strong>, Zhou J, Yang R, et al.
      Automated Rice Phenology Stage Mapping Using UAV Images and Deep Learning.
      <i>Drones. </i>
      2023; 7(2):83.
      <a href="https://doi.org/10.3390/drones7020083">
        https://doi.org/10.3390/drones7020083
      </a>
    </p>

    <p>
      <strong>Lu X</strong>, Yang R, Zhou J, et al.
      A hybrid model of ghost-convolution enlightened transformer for
      effective diagnosis of grape leaf disease and pest.
      <i>Journal of King Saud University - Computer and Information Sciences. </i>
      2022;34(5):1755-1767.
      <a href="https://doi.org/10.1016/j.jksuci.2022.03.006"> 
        https://doi.org/10.1016/j.jksuci.2022.03.006
      </a>
    </p>

    <p>
      Zhou J, <strong> Lu X</strong>, Yang R, et al.
      Developing Novel Rice Yield Index Using UAV Remote Sensing Imagery Fusion Technology.
      <i>Drones. </i>
      2022; 6(6):151.
      <a href="https://doi.org/10.3390/drones6060151">
        https://doi.org/10.3390/drones6060151 
      </a>
    </p>


    {% else %}
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <h4 class="fw-bold border-bottom pb-3 mb-5">2023</h4>
    <p>
      <strong> Lu X</strong>, Zhou J, Yang R, et al.
      Automated Rice Phenology Stage Mapping Using UAV Images and Deep Learning.
      <i>Drones. </i>
      2023; 7(2):83.
      <a href="https://doi.org/10.3390/drones7020083">
        https://doi.org/10.3390/drones7020083
      </a>
    </p>
    
    <h4 class="fw-bold border-bottom pb-3 mb-5">2022</h4>
    <p>
      <strong>Lu X</strong>, Yang R, Zhou J, et al.
      A hybrid model of ghost-convolution enlightened transformer for
      effective diagnosis of grape leaf disease and pest.
      <i>Journal of King Saud University - Computer and Information Sciences. </i>
      2022;34(5):1755-1767.
      <a href="https://doi.org/10.1016/j.jksuci.2022.03.006"> 
        https://doi.org/10.1016/j.jksuci.2022.03.006
      </a>
    </p>

    <p>
      Zhou J, <strong> Lu X</strong>, Yang R, et al.
      Developing Novel Rice Yield Index Using UAV Remote Sensing Imagery Fusion Technology.
      <i>Drones. </i>
      2022; 6(6):151.
      <a href="https://doi.org/10.3390/drones6060151">
        https://doi.org/10.3390/drones6060151 </a>
    </p>

    <h4 class="fw-bold border-bottom pb-3 mb-5">2021</h4>

    <p>
      Yang R, <strong>Lu X</strong>, Huang J, et al.
      A Multi-Source Data Fusion Decision-Making Method for Disease and
      Pest Detection of Grape Foliage Based on ShuffleNet V2.
      <i>Remote Sensing.</i>
      2021; 13(24):5102.
      <a href="https://doi.org/10.3390/rs13245102">
        https://doi.org/10.3390/rs13245102
      </a>
    </p>
    {% endif %}
  </div>
</div>
