<div class="row g-5 mb-5">
  <div>
    {% if page.title == "Home" %}
    <p>
      Muhammad Syukri, <strong>Dian Darisma</strong>, Farah Annisa Cahyani, Zulham Sugito.
      Spatial and Temporal Analysis of b-value Imaging Characteristics Using High Precision Earthquake Spot in the Sumatran Subduction Zone.
      <i>Iraqi Geological Journal</i>, 2021.
      <a href="https://doi.org/10.46717/igj.54.2B.1Ms-2021-08-21" class="blue-link">
        https://doi.org/10.46717/igj.54.2B.1Ms-2021-08-21
      </a>
    </p>

    <p>
      <strong>Dian Darisma</strong>, Ferdy Fernanda, Muhammad Syukri.
      Investigation of Groundwater Potential using Electrical Resistivity Method and Hydraulic Parameters in Lam Apeng, Aceh Besar, Indonesia.
      <i>Journal of Geosicence, Engineering, Environment, and Technology</i>, 2020.
      <a href="https://doi.org/10.25299/jgeet.2020.5.4.5501"> 
        https://doi.org/10.25299/jgeet.2020.5.4.5501
      </a>
    </p>
    
    {% else %}
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications</h3>
    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2022</small></h4>
    <p>
      Syafrizal Idris, <strong>Dian Darisma</strong>, Agus Hari Pramana, Nurul Aflah, M Sayuti, Nanda Novita.
      Identification of the Aquifer Layer using the Geoelectric Method in Teupin Batee Village, Aceh Besar.
      <i>Bulletin of Computer Science and Electrical Engineering</i>, 2022.
      <a href="https://doi.org/10.25008/bcsee.v3i1.1155">
        https://doi.org/10.25008/bcsee.v3i1.1155
      </a>
    </p>

    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2021</small></h4>
    <p>
      Muhammad Syukri, <strong>Dian Darisma</strong>, Farah Annisa Cahyani, Zulham Sugito.
      Spatial and Temporal Analysis of b-value Imaging Characteristics Using High Precision Earthquake Spot in the Sumatran Subduction Zone.
      <i>Iraqi Geological Journal</i>, 2021.
      <a href="https://doi.org/10.46717/igj.54.2B.1Ms-2021-08-21">
        https://doi.org/10.46717/igj.54.2B.1Ms-2021-08-21
      </a>
    </p>

    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2020</small></h4>
    <p>
      Nazli Ismail, Bakhtiar Bakhtiar, Muhammad Yanis, <strong>Dian Darisma</strong>, Faisal Abdullah.
      Mitigasi dan Adaptasi Struktural Bahaya Banjir Berdasarkan Kearifan Lokal Masyarakat Aceh Singkil Provinsi Aceh.
      <i>Jurnal Antropologi: Isu-Isu Sosial Budaya</i>, 2020.
      <a href="https://doi.org/10.25077/jantro.v22.n2.p276-285.2020">
        https://doi.org/10.25077/jantro.v22.n2.p276-285.2020
      </a>
    </p>
    <p>
      <strong>Dian Darisma</strong>, Ferdy Fernanda, Muhammad Syukri.
      Investigation of Groundwater Potential using Electrical Resistivity Method and Hydraulic Parameters in Lam Apeng, Aceh Besar, Indonesia.
      <i>Journal of Geosicence, Engineering, Environment, and Technology</i>, 2020.
      <a href="https://doi.org/10.25299/jgeet.2020.5.4.5501"> 
        https://doi.org/10.25299/jgeet.2020.5.4.5501
      </a>
    </p>
    
    <h4 class="fw-bold border-bottom pb-1 mb-1"><small>2019</small></h4>
    <p>
      <strong>Dian Darisma</strong>, Marwan Marwan, Nazli Ismail.
      Geological Structure Analysis of Satellit Gravity Data in Oil and Gas Prospect Area of West Aceh-Indonesia.
      <i>Journal of Aceh Physics Society</i>, 2019.
      <a href="https://doi.org/10.24815/jacps.v8i1.12750">
        https://doi.org/10.24815/jacps.v8i1.12750
      </a>
    </p>

    {% endif %}
  </div>
</div>
