<style>
  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container figure {
    flex-basis: 100%;
  }
</style>

<!--One figure, width = 26%
Two figures, width = 54%
-->

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Travels</h3>
    <div class="row g-5 mb-5">
      
      <div class="image-container">
        <figure>
          <img src="/assets/img/funaoka-cast.jpeg" alt="funaoka" width="80%">
          <figcaption>Funaoka Castle, Japan</figcaption>
        </figure>
        <figure>
          <img src="/assets/img/travel/mtzao.jpeg" alt="mtzao" width="80%">
          <figcaption>Mt. Zao, Japan</figcaption>
        </figure>
        <figure>
          <img src="/assets/img/travel/narukobridge.jpeg" alt="naruko" width="80%">
          <figcaption>Naruko Bridge, Japan</figcaption>
        </figure>
      </div>

      <div class="image-container">
        <figure>
          <img src="/assets/img/travel/aoba.jpeg" alt="aoba" width="26%">
          <figcaption>Aobayama, Japan</figcaption>
        </figure>
      </div>

    </div>
  </div>
</div>
