<style>
  .image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container figure {
    flex-basis: 100%;
  }
</style>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Travels</h3>
    <div class="row g-5 mb-5">
      <div class="image-container">
        <figure>
          <img src="/assets/img/funaoka-cast.jpeg" alt="funaoka" width="30%">
          <figcaption>Funaoka Castle, Japan</figcaption>
        </figure>
        <figure>
          <img src="/assets/img/travel/mtzao.jpeg" alt="mtzao" width="30%">
          <figcaption>Mt. Zao, Japan</figcaption>
        </figure>
        <figure>
          <img src="/assets/img/travel/narukobridge.jpeg" alt="naruko" width="30%">
          <figcaption>Naruko Bridge, Japan</figcaption>
        </figure>
    </div>
  </div>
</div>
